<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>What's your <em>mood</em> ?</h1>
    <p>Search the perfect list for your mood</p>

  </div>
</div>

<div class="container d-flex text-center" id="home">
   <% @lists.each do |l| %>
        <div class="card mx-auto mt-3" style="width: 18rem;">
        <img class="card-img-top" src="<%= l.category_url %>" alt="Card image cap">
          <div class="card-body">
            <div class="card-title">
              <h5><strong><%= l.name%> </strong></h5>
            </div>
              <%= link_to "Discover the list", list_path(l), class: "btn btn-light"%>
          </div>
        </div>
  <%end%>
</div>

<div class="container d-flex" id="home">
        <div class="card mx-auto mt-3 text-center" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1496262967815-132206202600?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cXVlc3Rpb258ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
          <div class="card-body">
            <div class="card-title">
              <h5><strong>Create your list</strong></h5>
            </div>
              <%= link_to "CREATE", new_list_path, class: "btn btn-dark"%>
          </div>
        </div>

</div>
